<h3 class="text-white mb-5">Register User</h3>

<%= render 'create_form', user: @user %>

<%= link_to "Home", root_path, :class => "btn btn-primary mx-auto", :id => "button" %>
<%= link_to "Log In", login_path, :class => "btn btn-primary mx-auto", :id => "button" %>
