<h3 class="text-white mb-5">Forgot Password</h3>
<% if @user %>
  <p>We've sent you an email. Please check your email and follow the instructions to reset your password.</p>
  <%= link_to "Home", root_path, :class => "btn btn-primary mx-auto", :id => "button" %>
<% else %>
  <p>No user exists with the email <%= @email %> Please check and submit again.</p>
  <%= link_to "Submit Again", forgot_password_path, :class => "btn btn-primary mx-auto", :id => "button" %>
<% end %>
