<h3 class="text-white mb-5">Magic Link Expired</h3>

<p>The password reset link is only valid for six hours. Please request for a new one.</p>
<%= link_to "Request Again", forgot_password_path, :class => "btn btn-primary mx-auto", :id => "button" %>