<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--    <div id="template_preview">
      <img src="/screenshots/full-template-557-grad-school.jpg" alt="templatemo 557 grad school" title="templatemo 557 grad school" border="0" />
    </div>-->

    <div id="one_column">
      <div class="tn_list_preview">
        <div class="thumbnail_270">
          <a href="/tm-559-zay-shop" title=" Template"><img src="/thumbnails-360/tm-559-zay-shop.jpg" alt=" Template" border="0" /></a>
          <h2><a href="/tm-559-zay-shop" title=" Template">559 Zay Shop</a></h2><div class="tn_desc"><p>Zay Shop is a Bootstrap 5 beta 1 HTML CSS eCommerce Template for your online stores. This green color template included listing products...</p></div>
        </div>
        <div class="thumbnail_270">
          <a href="/tm-558-klassy-cafe" title=" Template"><img src="/thumbnails-360/tm-558-klassy-cafe.jpg" alt=" Template" border="0" /></a>
          <h2><a href="/tm-558-klassy-cafe" title=" Template">558 Klassy Cafe</a></h2><div class="tn_desc"><p>Klass Cafe is a restaurant HTML template with Bootstrap v4.5.2 CSS framework. This website layout is vivid with a white background and red...</p></div>
        </div>
        <div class="thumbnail_270">
          <a href="/tm-556-catalog-z" title=" Template"><img src="/thumbnails-360/tm-556-catalog-z.jpg" alt=" Template" border="0" /></a>
          <h2><a href="/tm-556-catalog-z" title=" Template">556 Catalog Z</a></h2><div class="tn_desc"><p>Catalog-Z is free photo video HTML template based on Bootstrap 5 Alpha 2. There are 6 HTML pages including photo detail, video detail, and...</p></div>
        </div>
        <div class="thumbnail_270">
          <a href="/tm-555-upright" title=" Template"><img src="/thumbnails-360/tm-555-upright.jpg" alt=" Template" border="0" /></a>
          <h2><a href="/tm-555-upright" title=" Template">555 Upright</a></h2><div class="tn_desc"><p>Upright is a full-width HTML template with a parallax image column. This one-page layout has a multi-category gallery with a pop-up image...</p></div>
        </div>
        <div class="templatemo_clear"></div>
      </div><!-- // Thumbnail List -->

      <!--<div class="thumbnail_270_carbon">
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DV2JJ&placement=templatemocom" id="_carbonads_js"></script>
      </div>-->

      <!-- new BOX // -->
      <div id="tm-dl-box">
        <h2>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="https://templatemo.com" itemprop="url"><span itemprop="title" class="title_2">Free Templates</span></a> 
                <span class="title_2"> › </span>
            </span>

          <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="https://templatemo.com/tm-557-grad-school" title="Grad School" itemprop="url"><span itemprop="title" class="title_2"><%= @name %></span></a>
          </span>
        </h2>
        <p><strong>Tags:</strong> <a href="/tag/education">education</a>, <a href="/tag/bootstrap-4">bootstrap-4</a>, <a href="/tag/dropdown-menu">dropdown-menu</a>, <a href="/tag/css">css</a>, <a href="/tag/responsive">responsive</a>, <a href="/tag/html5">html5</a>, <a href="/tag/video">video</a></p>
        <p><a href="https://templatemo.com/tm-557-grad-school">Grad School Template</a> is 100% free to download for anyone. You are allowed to download, edit and use this Grad School HTML CSS layout for your commercial or non-commercial sites. Please share Grad School Template to your friends. Thank you.</p>
        <div class="sharethis-inline-share-buttons"></div><div class="templatemo_clear h20"></div>
        <p><strong>Added:</strong> <span>20 October 2020</span> &nbsp;&nbsp; <strong>Downloads:</strong> 10,311</p>

        <div class="templatemo_clear h10"></div>

        <div class="tm-dl-green"><a id="tm-view" href="/live/templatemo_557_grad_school" title="557 Grad School">Live View</a></div>
        <div class="tm-dl-blue"><a id="tm-download" href="/download/templatemo_557_grad_school" rel="nofollow" title="557 Grad School ZIP file">Download</a></div>
        <!--<div class="tm-dl-grey"><a rel="nofollow" href="/screenshots/full-template-557-grad-school.jpg" title="557 Grad School screenshot">Screenshot</a></div>-->
        <div class="tm-dl-grey"><a rel="nofollow sponsored" href="https://ltcclock.com/downloads/simple-contact-form" title="Simple Contact Form">Contact Form</a></div>
        <div class="tm-dl-grey"><a rel="nofollow sponsored" href="https://www.tooplate.com/free-templates" title="Free HTML Templates">Tooplate's HTML</a></div>
        <div class="templatemo_clear"></div>

      </div><!-- // new BOX -->

    </div><!-- one_columm END -->

  </div>

<script>
    document.getElementById('tm-view').onclick = function()
    {
        ga('send', 'event', 'button', 'View', 'templatemo_557_grad_school');
    };
    document.getElementById('tm-download').onclick = function()
    {
        ga('send', 'event', 'button', 'Download', 'templatemo_557_grad_school');
    };
</script>