<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hi <%= @user.username %>, <br>
  We are sorry to hear that you've forgot your password. Please click on this <a href=<%= @link %>>magic link</a> to login and reset your password. Please note that this link is only valid for the next 6 hours."
</p>

<br>Kashyap Vadrevu.<br>
Full Stack Engineer.</p>
</body>
</html>