<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hi <%= @user.username %>, <br>
  Thank you for signing up to our application. Your account has been successfully created and you can now <a href=<%= @link %>>log in</a>  to the application by using your email(<%= @user.email %>) and password.
</p>

<br>Kashyap Vadrevu.<br>
Full Stack Engineer.</p>
</body>
</html>