<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <base href="https://templatemo.com/" />
  <title>Free Template 557 Grad School</title>
  <meta name="description" content="Grad School HTML template is designed for educational websites. Homepage has a full-size video banner with 3 rollover content boxes at the..." />
  <meta itemprop="headline" content="Free Template 557 Grad School">
  <meta itemprop="name" content="Grad School Template">
  <meta itemprop="description" content="Grad School HTML template is designed for educational websites. Homepage has a full-size video banner with 3 rollover content boxes at the...">
  <meta itemprop="image" content="/screenshots/full-template-557-grad-school.jpg">
  <meta itemprop="datePublished" content="2020-10-20" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://templatemo.com/tm-557-grad-school" />
  <meta property="og:title" content="Free Template 557 Grad School" />
  <meta property="og:headline" content="Grad School Template" />
  <meta property="og:image" content="/screenshots/full-template-557-grad-school.jpg" />
  <meta property="og:site_name" content="templatemo" />
  <meta property="og:description" content="Grad School HTML template is designed for educational websites. Homepage has a full-size video banner with 3 rollover content boxes at the..." />
  <meta name="author" content="templatemo">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>
  <link href="/tm-style-2020six18-min.css" rel="stylesheet" type="text/css" />
  <link rel="canonical" href="https://templatemo.com/tm-557-grad-school" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5bd81d4c2f16d600115dd815&product=inline-share-buttons' async='async'></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-732601-9"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-732601-9');
  </script>
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
  <script>
      window.googletag = window.googletag || {cmd: []};
      googletag.cmd.push(function() {
          var interstitialSlot = googletag.defineOutOfPageSlot('/147246189/templatemo.com_interstitial', googletag.enums.OutOfPageFormat.INTERSTITIAL);
          if (interstitialSlot) interstitialSlot.addService(googletag.pubads());
          googletag.pubads().enableSingleRequest();
          googletag.enableServices();
          googletag.display(interstitialSlot);
      });
  </script>
</head>
<body>
  <%= yield %>
</body>